@CHARSET "UTF-8";

.jumbotron {
  padding: 30px;
  margin-bottom: 30px;
  font-size: 21px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: inherit;
  background-color: #0077b4;
}

.btn-primary {
  color: #ffffff;
  background-color: #0099e8;
  border-color: #357ebd;
}

.btn-primary:hover {
	background-color: #02a9ff;
}
