@charset "UTF-8";

.navbar {
  position: relative;
  z-index: 1000;

  margin-bottom: 20px;
  border: 1px solid transparent;
}





h1 {
        font-family: Helvetica;
        font-weight: bold; 
        color: black;
        font-size: 24px;
		text-align: center;
}



h2 {font-size: 16px;
    font-family: Helvetica;
    font-weight: bold; 
     color: black;
	 text-align: center;
	}


h3 {
	margin-bottom: 30px;	
	}


        
p {
        font-family: Helvetica;
        font-size: 16px;
}        

a {
        font-family: Helvetica;
        font-size: 16px;
        color: black;
	}



a:link {
    color: #388E8E;
        
        
}
        
a:hover {
        color: #388E8E;
        font-family: Helvetica;
        text-decoration: none;
}

a:visited {
    color: #9999ff;
}


td {
        font-family: Helvetica;
        font-size: 12px;
    height:30px;
    width: 200px;
    border:1px solid black;
    
 
}

th {
        font-family: Helvetica;
        font-size: 14px;
        height:50px;
    border:1px solid black;
    
}        

table {
    border: 3px solid black;
	margin-top: 30px;
	margin-bottom: 30px;
	margin: 0px auto;
	color: black;
    
    
}



.Blue {
        background-color: #e5e5ff;
}

.Uetab {
        font-family: Helvetica;
        font-size: 18px;
}

.Abstand {
        margin-top: 80px;
		margin-bottom: 50px;
}

.Abstand2 {
        margin-top:50px;
		margin-left:150px;
		margin-bottom: 50px;
}

#thead {
        background-color: #AAAAFF
}        

.suchee {
        font-family: Helvetica;
        font-weight: bold;
        font-size: 14px;
        color: white;
        
        padding: 0.4em 1em 0.4em 1em;
        margin-top: 25px;
        margin-bottom: 30px;
        text-align: center;
        cursor: pointer;
        background-color: #00688B;
        height: 40px;
        width: 130px;
		border-color: black;
		
        
}

.Suchfeld {
        
        padding: 0.4em 1em 0.4em 1em;
        margin: 0;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
		
		
        
}

legend {
		font-family: Verdana;
        font-weight: bold;
        color: #00688B;
        font-size: 16px;
        margin-top: 30px;
}

.text {
        height: 30px;
        width: 600px;
        
        border-color: #00688B;
        margin-top: 20px;
}

fieldset {
        border-top-color: black;
        
        
}

form {
        margin-top: 50px;
        
}

label {
        display:block;
        margin-top: 20px;
        font-family: Verdana;
        font-size: 14px;
}



.mail:hover {
	color: #02a9ff !important;
	
	
}

.mail {
	color: #0077b4 !important;
	text-decoration: underline;
}

.backlink {
	padding: 0.8em 2em 0.8em 2em;
    margin-top: 100px;
    margin-bottom: 30px;
	margin-left: 150px;
	border: solid;
	border-color: #00688B;
	color: #02a9ff !important;
	
}

.backlink2 {
	padding: 0.8em 2em 0.8em 2em;
    margin-top: 100px;
    margin-bottom: 30px;
	border: solid;
	border-color: #00688B;
	color: #02a9ff !important;
}

